{% extends 'base.html' %}
{% block content %}
<style>
form{
    display: inline-block;
}
.itemName{
  margin: auto;
}
.itemForm{
  margin: 20px;;
}
table, td, tr{
  border: none;
}
</style>
<table>
<div id="align">
 <form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for i in form %}
  <tr>
    <td><span class="itemName">{{ i.name }}</span></td>
    <td><span class="itemForm">{{ i }}</span></td>
  </tr>
  {% endfor %}
  <tr><td colspan="2"><input type="submit" value="Submit"/></td></tr>
  </table>
</form>
</div>
{% endblock %}
