{% extends 'base.html' %}
{% block content %}
Customers here please
<a href="customers_form/">Add more Customer</a>

{% for c in customer %}
<ul>
<li>{{ c.address_1 }}</li>
<li>{{ c.address_2 }}</li>
<li>{{ c.city }}</li>
<li>{{ c.email }}</li>
<li>{{ c.first_name }}</li>
<li>{{ c.last_name }}</li>
<li>{{ c.phone_number }}</li>
<li>{{ c.postal_code }}</li>
<li>{{ c.state }}</li>
<li>{{ c.website }}</li>
</ul>
    <a href="customers_form/edit/{{ c.id }}/" >edit</a>
<form action="{% url 'customers_delete' %}" method="post">{% csrf_token %}
        <input type="hidden" name="id" value={{ c.id }}>
        <input type="submit" value="delete">
    </form>
{% endfor %}
{% endblock %}