{% extends 'base.html' %}
{% block content %}
Customer<br>









			first name:-	{{ customer.first_name }}<br>
			last name:-	{{ customer.last_name }}<br>
            phone number:- {{ customer.phone_number }}<br>
			postal code:-	{{ customer.postal_code }} <br>
			state:-	{{ customer.state }}<br>
            website:-    {{ customer.website }}<br>
            city:-{{ customer.city }}<br>
             email:- {{ customer.email }}<br>
              address1:-{{ customer.address_1 }}<br>
              address2:-{{ customer.address_2 }}<br>
                <a href="{% url 'customers_edit' customer.id %}" >edit</a><br>
                <form action="{% url 'customers_delete' %}" method="post">{% csrf_token %}
                 <input type="hidden" name="id" value={{ customer.id }}>
                 <input type="submit" value="delete">
                      </form>
    <h1>Orders correspong to the Customer</h1>
    <ol>
    {% for order in orders %}
            <li>
			invoice date:-	{{ order.invoice_date }}<br>
            Payment due:-    {{ order.payment_due }} <br>
			Service origin:-	{{ order.service_origin }} <br>
            Service Destination  :  {{ order.service_destination }} <br>
            trucktype:    {{ order.truck_type }}<br>
             truck_number:-   {{ order.truck_number }}<br>
             driver name:   {{ order.driver_name }}<br>
             driver number:   {{ order.driver_number }}<br>
            advance money:- {{ order.advance_money }}<br>
            balance money:-    {{ order.balance_money }}<br>
            mobile number:-    {{ order.mobile_number }}<br>
            description:-    {{ order.description }}<br>
            service fee:-    {{ order.service_fee }}<br>
            taxes:-    {{ order.taxes }}<br>
            discount:-    {{ order.discount }}<br>
            total in words:-    {{ order.total_in_words }}<br>
            name_supplier:-   {{ order.name_supplier }}<br>
</li>

               sac:- {{ order.sac}}<br>
    {% endfor %}
    </ol>

{% endblock %}