{% extends 'base.html' %}
{% block content %}
products and services <br>




				description:-{{ product.description }}<br>
				sac:-{{ product.sac }}<br>
				taxes:-{{ product.Taxes }}<br>

                <a href="{% url 'products_edit' product.id %}" >edit</a><br>
                <form action="{% url 'products_delete' %}" method="post">{% csrf_token %}
                 <input type="hidden" name="id" value={{ product.id }}>
                 <input type="submit" value="delete">
                      </form>


{% endblock %}