{% extends 'base.html' %}
{% block content %}
products and services here please
           {% load staticfiles %}
<script type="text/javascript" src="{% static "Theme/assets/js/table_sorting.js" %}">
</script>
<a href="products_form/">Add more Products</a>

    <style>

  table,th,td{
        border: 1px solid black;
    }
    </style>

<table style="width: auto" id="myTable">
        <tr>


            <th onclick="sortTable(0)">Description</th>
            <th onclick="sortTable(1)">Sac</th>
            <th onclick="sortTable(2)">Taxes</th>
            <th onclick="sortTable(3)">edit</th>
            <th onclick="sortTable(4)">delete</th>
</tr>


{% for p in products %}



                <tr>
				<td>{{ p.description }}</td>
				<td>{{ p.sac }}</td>
				<td>{{ p.Taxes }}</td>

                <td><a href="products_form/edit/{{ p.id }}/" >edit</a></td>
                <td><form action="{% url 'products_delete' %}" method="post">{% csrf_token %}
                 <input type="hidden" name="id" value={{ p.id }}>
                 <input type="submit" value="delete">
                      </form>
</td>
</tr>





{% endfor %}
</table>

{% endblock %}