<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products and services</title>
</head>
<body>
products and services here please
<a href="products_form/">Add more Products</a>

{% for p in products %}
   <ul>
       <li> {{ p.description }}li>
    <li>{{ p.sac }}</li>
   <li> {{ p.Taxes }}</li>
   </ul>
<a href="products_form/edit/{{ p.id }}/" >edit</a>
     <form action="{% url 'products_delete' %}" method="post">{% csrf_token %}
        <input type="hidden" name="id" value={{ p.id }}>
        <input type="submit" value="delete">
    </form>
{% endfor %}
</body>
</html>